*.zip
.idea
out
!week1/week1/src/exercises/
week1/week1/week1.iml
week1/week1.iml
!week2/week2/src/exercises/
week2/week2/week2.iml
week2/week2.iml
week3/week3/week3.iml
week3/week3.iml
week4/week4/week4.iml
week4/week4.iml
week5/week5/week5.iml
week5/week5.iml